@import "../node_modules/normalize-scss/sass/normalize/_import-now.scss";
@import "../scss-src/vars.scss";
@import "../scss-src/mixins.scss";
@import "../scss-src/preloader.scss";
@import "../scss-src/calculator.scss";
@import "../scss-src/screen.scss";
@import "../scss-src/buttons.scss";
@import "../scss-src/alert-box.scss";
@import "../scss-src/fade-toggle.scss";

* {
  font-family: 'Orbitron', sans-serif;
  word-break: break-all;
}

body {
  padding-top: 40px;
  background: $grey3;
  @include mediaQ(400px) {
    background: $grey1;
  }
}

.heading {
  color: $white;
  text-align: center;
  margin-bottom: 40px;
}
