@import "../scss-src/vars.scss";

@keyframes preloader {
    0% {opacity:0}
    50% {opacity:1}
    100% {opacity:0}
}

#preloader {
    position: fixed;
    opacity: 1;
    background: $white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 1s;
    div {
        text-align: center;
        margin: auto;
        position: relative;
        top: 50%;
        span {
            display: inline-block;
            margin: 3px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: $black;
            animation-name: preloader;
            animation-duration: 0.9s;
            animation-iteration-count: infinite;
            animation-timeline-function: ease-in-out;
            &:nth-of-type(2){
                animation-delay: 0.6s;
            }
            &:nth-of-type(3){
                animation-delay: 0.3s;
            }
        }
    }
}
